//변수 선언
$blue: #00b2b2;
$gray: #90949c;
$pink: #ff6666;
$red: #e94e58;

@mixin btn-color($color) {
  background: $color;
  &:disabled {
    background: $gray;
    color: #ffffff;
    &:active {
      background: $gray; // 버튼 미활성화 시 반응 x
      color: #ffffff;
    }
  }

  &:active {
    background: lighten($color, 10%);
  }

  &.outline {
    color: $color;
    background: none;
    border: 1px solid $color;

    &:hover {
      background: $color;
      color: white;
    }
  }
}

.Button {
  width: 25vw;
  height: 2.5rem;
  font-size: 1.1rem;
  line-height: 2.5rem;
  text-align: center;

  // display: inline-flex;
  color: white;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 1.125rem;
  cursor: pointer;
  justify-content: center;

  &.blue {
    @include btn-color($blue);
  }

  &.gray {
    @include btn-color($gray);
  }

  &.pink {
    @include btn-color($pink);
  }

  &.red {
    @include btn-color($red);
  }

  & + & {
    margin-left: 1rem;
  }

  // &.basic {
  //     width: 80%;
  // }

  input + & {
    margin-top: 2rem;
  }

  // &+&, &+.Button, .Button+& {
  //     margin-top: 1rem;
  // }
}
@media screen and (min-width: 1920px) {
  .Button {
    width: 576px;
  }
}

@media screen and (max-width: 960px) {
  .Button {
    width: 40vw;
  }
}

// @mixin btn-size($h, $fsize) {
//     width: 30vw;
//     height: $h;
//     line-height: $h;
//     padding-left: 1rem;
//     padding-right: 1rem;
//     font-size: $fsize;
// }

// .Button {
//     //여기 부분을 단계별로 변경.
//     &.large {
//         @include btn-size(3rem, 1.25rem);
//     }
  
//     &.medium {
//         @include btn-size(2.25rem, 1rem);
//     }

//     &.small {
//         @include btn-size(1.75rem, 0.875rem);
//     }

//     &.blue {
//         @include btn-color($blue);
//     }

//     &.gray {
//         @include btn-color($gray);
//     }

//     &.pink {
//         @include btn-color($pink);
//     }

//     &.red {
//         @include btn-color($red);
//     }

//     &+& {
//         margin-left: 1rem;
//     }

//     &.basic {
//         width: 80%;
//     }

//     &.s-30 {
//         width: 30%;
//     }
//     &.s-5 {
//         width: 5%;
//     }

//     input + & {
//         margin-top: 2rem;
//     }
// }
