.slick-list{ //크기조정
    // width: 100%;
    // height: 30vh;
    // margin: 0 auto;
    // background-color: #f0f9ff;
    width:100%;
    height:100%;
    object-fit: cover;
}

.slider-img{
    width: 60vw;
    height: 30vh;
}

// .slick-dots {
//     display: none;
// }